$bg-color: #bebebe;
$bg-orange: #ffcb46;
$white: #FAFAFA;
$black: #000000;
$grey: #373737;
$grey-border: rgba(255, 255, 255, 0.12);

/////breakpoints/////
$xs: 375px;
$sm: 560px;
$md: 768px;
$lg: 1024px;
